@media screen and (max-width: 800px) {
    body {
    }
    main {
        width: 750px;
        padding-left: 130px !important;
        padding-right: 130px !important;

        h1 {
            // font-size: $--fs-body * 1.5 !important ;
            margin-bottom: 20px;
        }

        h2 {
            font-size: $--fs-body * .8 !important ;
        }
        .notify {
            margin-bottom: 40px !important;

            form {
                display: flex;
                flex-direction: column;

                .notify-email-input {
                    margin-bottom: 10px;
                    input {
                        width: 100% !important;

                    }

                    p {
                        margin-top: 10px;
                    }
                }

                .notify-button {
                    width: 100% !important;
                }
            }
        }
    }
}
